@import url("https://fonts.googleapis.com/css?family=Montserrat");


body {
  margin: 0;
  padding: 0;
  background: rgb(50, 54, 57);
}

.google_homepage {
  width: 100%;
}

.google_header {
margin-right: 120px;
  display: flex;
  width: 100%;
  text-align: right;
  justify-content: flex-end;
}

ul {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

li {
  margin: 0 10px;
  list-style: none;
  font-size: 16px;
}

#img {
  border-radius: 100px;
}

a {
  color: white;
  text-decoration: none;
  display: inline-block;
  line-height: 24px;
  outline: none;
  vertical-align: middle;
}

.google_homepage_content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  top: 50%;
  left: 50%;
}

.google_homepage_content_logo {
  min-height: fit-content;
  position: relative;
  text-align: center;
  margin: 25px auto;
}
.google_homepage_content_search {
  width: 400px;
  max-width: 100%;
  margin: 0;
  display: flex;
}


.google_homepage_content_search input {
  width: 100%;
  background: white;
  border: 1px solid rgb(223, 225, 229);
  box-sizing: border-box;
  font-size: 16px;
  height: 46px;
  line-height: 21px;
  padding: 0 0 0 10px;
  max-width: 584px;
  transition: none;
  border-radius: 25px;
}
button.speak {
  margin-inline-end: 16px;
  position: relative;
  right: 35px;
  border: none;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij4KICAgIDxwYXRoIGZpbGw9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiLz4KICAgIDxwYXRoIGZpbGw9IiM0Mjg1RjQiIGQ9Ik0xMiAxNWMxLjY2IDAgMi45OS0xLjM0IDIuOTktM0wxNSA1YzAtMS42Ni0xLjM0LTMtMy0zUzkgMy4zNCA5IDV2N2MwIDEuNjYgMS4zNCAzIDMgM3oiLz4KICAgIDxwYXRoIGZpbGw9IiMzNEE4NTMiIGQ9Ik0xMSAxOC45MmgyVjIyaC0yeiIvPgogICAgPHBhdGggZmlsbD0iI0Y0QjQwMCIgZD0iTTcgMTJINWMwIDEuOTMuNzggMy42OCAyLjA1IDQuOTVsMS40MS0xLjQxQzcuNTYgMTQuNjMgNyAxMy4zOCA3IDEyeiIvPgogICAgPHBhdGggZmlsbD0iI0VBNDMzNSIgZD0iTTEyIDE3Yy0xLjM4IDAtMi42My0uNTYtMy41NC0xLjQ3bC0xLjQxIDEuNDFDOC4zMiAxOC4yMSAxMC4wNyAxOSAxMi4wMSAxOWMzLjg3IDAgNi45OC0zLjE0IDYuOTgtN2gtMmMwIDIuNzYtMi4yMyA1LTQuOTkgNXoiLz4KPC9zdmc+Cg==)
    no-repeat center;
}





.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  padding: 16px 0;
}
.footer a {
  color: #ffffffc7;
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .google_homepage_content_search {
    width: 100%;
  }
  input {
    max-width: 100%;
    width: 100%;
    font-size: 12px;
  }
}
